<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="index.html" class="navigation-links-navlink"><span>Home</span></a>
    <a href="appointments.html" class="navigation-links-navlink1">
      <span>Appointments</span>
    </a>
    <a href="medical-information.html" class="navigation-links-navlink2">
      <span>Medical Information</span>
    </a>
    <a href="settings.html" class="navigation-links-navlink3">
      <span>Settings</span>
    </a>
    <a href="pokemon-a-p-i.html" class="navigation-links-navlink4">
      <span>Pokemon API</span>
    </a>
  </nav>
</div>
